<app-header></app-header>

<div class="content">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>

<!-- <h1>
  {{ title }}
</h1> -->
<!-- There’s the title property defined between double curly braces {{}}. This is a common convention for how to bind a value into a template.
Angular will replace {{title}} with the value of the title property from app.component.ts 
This is called 'interpolation' and is frequently used to display data in a template. 
The content between the braces is called an Angular expression, and is evaluated against the controller (.ts file),
meaning that it will try to find a property on the controller to display -->
